*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: rgb(185, 205, 220);
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  background-color: #fff;
}

.header {
  width: 100%;
}

.main {
  width: 100%;
}

.footer {
  width: 100%;
}