@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Passions+Conflict&display=swap');
/* font-family: 'Dancing Script', cursive; */

@font-face {
  font-family: 'sohne-var';
  src: url(../fonts/f965fdf4.woff2);
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/1a930247.woff2);
}

:root {
  --white: #ffffff;
  --bgcolor: aliceblue;
  /* --green_bgcolor: #1a7f78;
  --blue_bgcolor: #255b98; */
  --purple_bgcolor: #951fb3;
  --blue_bgcolor: #255b98;
  --black: #272b2d;
  --purple: #951fb3;
  --header_button: #d3d3d37e;
  --home_title: #00132cce;
  --home_grid_button: #1d1e2ead;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "sohne-var","Helvetica Neue","Arial",sans-serif; */
  font-family: "sohne-var","Helvetica Neue","Arial",sans-serif;
  box-sizing: border-box;
  background-color: var(--white);
  font-weight: 500;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--white);
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.active {
  /* text-decoration: underline; */
  border-bottom: 2px solid var(--white);
}

/* SECTION 1 START */
/* HEADER START */
.section1 {
  /* background-color: var(--white); */
  width: 100vw;
  height: 100vh;
}

.canvas_container {
  position: absolute;
  z-index: -1;
  inset: 0;
  width: 100%;
  height: 600px;
	clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%);
}

canvas {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2.5%;
}

header a {
  text-decoration: none;
}

.logo {
  font-size: 30px;
  color: var(--white);
  font-family: "Helvetica Neue";
  font-weight: 900;
}

.logo:hover {
  opacity: .75;
}

header ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
  color: var(--white);
  padding: 15px 5px;
}

header ul li:hover {
  opacity: .75;
}

.signin_link {
  padding: 5px;
}

.signin_text {
  color: var(--white);
  font-size: 16px;
  padding: 5px 5px 7px 20px;
  border-radius: 100px;
  background-color: var(--header_button);
  text-align: center;
  display: flex;
  align-items: center;
}

.signin_text ion-icon {
  color: var(--white);
  padding: 0px 6px 0px 9px;
}

.signin_link:hover .signin_text ion-icon {
  padding: 0px 2px 0px 13px;
  transition: all 0.4s ease-in-out;
}

.signin_link:hover .signin_text {
  transition: all 0.4s ease-in-out;
  background-color: var(--black);
  color: var(--white);
}
/* HEADER END */

/* MAIN START */
.home_grid {
  display: grid;
  grid-template-columns: repeat(1, 2fr 1fr);
  margin-top: 15%;
}

.home_grid_title {
  color: var(--home_title);
  font-size: 80px;
}

.home_grid_link {
  width: 30%;
  margin-top: 3%;
  display: block;
}

.home_grid_button {
  color: var(--white);
  font-size: 16px;
  padding: 10px 10px 15px 20px;
  border-radius: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: var(--black);
}

.home_grid_button ion-icon {
  color: var(--white);
  padding: 0px 10px 0px 15px;
}

.home_grid_link:hover .home_grid_button ion-icon {
  padding: 0px 5px 0px 20px;
  transition: all 0.4s ease-in-out;
}

.home_grid_link:hover .home_grid_button {
  transition: all 0.4s ease-in-out;
  background-color: var(--home_grid_button);
}

.home_grid_img {
  background-image: url('../img/home_img.png2');
  background-repeat: no-repeat;
  background-size: cover;
}
/* SECTION 1 END */

/* SECTION 2 START */
.section2 {
  width: 100%;
  height: 60vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  background-image: linear-gradient(120deg,var(--blue_bgcolor),var(--purple_bgcolor));
  color: var(--white);
}

.section2 h3 {
  font-size: 35px;
  padding-top: 10%;
}

.section2 p {
  font-size: 15px;
  padding: 5% 0% 2% 0%;
  line-height: 30px;
}

.aboutme_buttons {
  display: flex;
  gap: 2rem;
}
.aboutme_buttons a:hover .button {
  background-color: var(--white);
  color: var(--black);
  transition: all 0.3s ease-in-out;
}

.button {
  padding: 10px 25px;
  border-radius: 100px;
  border: 2px solid var(--white);
}
/* SECTION 2 END */

/* SECTION 3 START */
.section3 {
  width: 100%;
  height: 50vh;
  color: var(--black);
}

.section3 h3 {
  font-size: 35px;
  padding-top: 10%;
}

.section3 p {
  font-size: 15px;
  padding: 5% 0% 2% 0%;
  line-height: 30px;
}

.section3 .aboutme_buttons {
  display: flex;
  gap: 2rem;
}

.section3 .aboutme_buttons a:hover .button {
  border: 2px solid var(--purple);
  color: var(--purple);
  transition: all 0.3s ease-in-out;
}

.section3 .button {
  padding: 10px 25px;
  border-radius: 100px;
  border: 2px solid var(--black);
  color: var(--black);
}

/* MAIN END */
/* SECTION 3 END */

/* SECTION 4 START */
/* FOOTER START */
.section4 {
  background-color: var(--home_title);
  width: 100%;
  height: 60vh;
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
}
/* FOOTER END */
/* SECTION 4 END */